body, html {
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
}

.btn {
  transition: all 0.3s ease-in-out;
  color: black;
}

.btn:hover {
  color: #fff;
  background-color: #40C575;
}

@media (max-width: 768px) {
  #header {
      text-align: center;
  }
  #header img {
      margin: 20% auto 0;
  }
  #who {
      text-align: center;
  }
  #who img {
      margin-top: 15%;
  }
  #footer {
      text-align: center;
  }
}

/* Navbar */

.navbar {
  background-color: #40C575;
  border-bottom: 1px solid #dedede;
  font-family: 'Alegreya Sans', sans-serif;
  height: 80px;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
  color: #FF7900;
}

.navbar-toggler-icon {
  color: #fff;
}

.navbar-brand {
  height: 50px;
  width: 50px;
}

/* HEADER */

#header2 {
  background-image: url('/img/conorsuit.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  color: #484848;
  display: flex;
  align-items: center;
  padding: 450px 0 300px 0;
}

#header .img {
  width: 80%;
}

/* Contact */

#contact {
  background-color: #f6f6f6;
  padding: 5rem 0;
}

#btn {
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  color: #40C575;
  border-color: #40C575;
  margin-bottom: 250px;
}

#btn:hover {
  background-color: #40C575;
  color: #fff;
}

.commentBtn {
  -moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
  text-shadow:0px 1px 0px #e1e2ed;
  margin-bottom: 20px;
}

.commentBtn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}

.commentSection {
  margin-top: 50px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  border-radius: 10px;
}

/* Footer */

footer {
  padding: 2rem 0;
  background: #484848;
  color: white;
}

footer a {
  color: #40C575;
}

footer .fa {
  padding: 0 3px;
}
