@media (max-width: 768px) {
  #header {
      text-align: center;
  }
  #header img {
      margin: 20% auto 0;
  }
  #who {
      text-align: center;
  }
  #who img {
      margin-top: 15%;
  }
  #footer {
      text-align: center;
  }
}

/* Navbar */

.navbar {
  background-color: #40C575;
  border-bottom: 1px solid #dedede;
  font-family: 'Alegreya Sans', sans-serif;
  height: 80px;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
  color: #FF7900;
}

.navbar-toggler-icon {
  color: #fff;
}

.navbar-brand {
  height: 50px;
  width: 50px;
}

/* HEADER */

#header2 {
  background-image: url('/img/conorsuit.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  color: #484848;
  display: flex;
  align-items: center;
  padding: 450px 0 300px 0;
}

#header .img {
  width: 80%;
}

/* Contact */

#contact {
  background-color: #f6f6f6;
  padding: 5rem 0;
}

#btn {
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  color: #40C575;
  border-color: #40C575;
  margin-bottom: 250px;
}

#btn:hover {
  background-color: #40C575;
  color: #fff;
}

.commentBtn {
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  color: #40C575;
  border-color: #40C575;
  margin-bottom: 10px;
  margin-right: 10px;
}

.commentBtn:hover {
  background-color: #40C575;
  color: #fff;
}

.commentSection {
  margin-top: 50px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  border-radius: 10px;
}