.body {
    height: 100%;
    font-family: cursive;
}

@media (max-width: 768px) {
    #header {
        text-align: center;
    }
    #header img {
        margin: 20% auto 0;
    }
    #who {
        text-align: center;
    }
    #who img {
        margin-top: 15%;
    }
    #footer {
        text-align: center;
    }
}

/* Navbar */

#navbar {
    background-color: #40C575;
    border-bottom: 1px solid #dedede;
    font-family: 'Alegreya Sans', sans-serif;
    height: 80px;
}

#navbar .navbar-nav .nav-link {
    color: #fff;
}

#navbar .navbar-nav .nav-link:hover {
    color: #FF7900;
}

#navbar-toggler-icon {
    color: #A9A9A9;
}

/* HEADER */

#header {
    background-image: url('/img/watch.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    color: #484848;
    display: flex;
    align-items: center;
    padding: 300px 0 100px 0;
}

.properHeader {
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header .header-right {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    background-color: #fff;
    border-radius: 5%;
    height: 320px;
}

#header .header-right:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

#header .fa {
    margin: 5% 0;
}

a span {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
}

/* Slider CSS */
.watchSlide {
    height: 350px;
    width: 350px;
    object-fit: contain;
}

#slider{
    color: white;
}

.fa-star {
    color: gold;
}

/* Who */

#who {
    padding: 15rem 0;
    background-color: #f6f6f6;
}

#who .btn-who {
    background-color: #40C575;
    color: #fff;
    width: 50%;
}

#who .btn-who:hover {
    background-color: transparent;
    border: 1px solid #FF7900;
    color: #FF7900;
}

#who .img-fluid {
    height: 100%;
    width: 100%;
}

.alignTxt {
    text-align: center;
}

/* Why */

#why {
    padding: 15rem 0;
    background-color: white;
}

#why .fa {
    color: #40C575;
    padding: 15px 0;
}

/* Customers */

#customers {
    padding: 5rem 0;
    background-color: white;
}

#customers .carousel-indicators li {
    background-color: #40C575;
}

#customers .carousel-inner {
    margin-bottom: 50px;
}

#customers .carousel-indicators {
    margin-bottom: -50px;
}